*{
    margin: 0%;
    padding: 0%;
}
/* =========nav bar codding start =============  */

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.logo{
    width: 20%;
    height: auto;
}
.logo img{
    margin: 2% 6%;
}
.header__item{
    width: 60%;
    height: auto;

}
.nav__ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 22px;
    margin-left: 2%;
    border: 2px solid rgb(238, 226, 226);
    background-color: rgba(207, 194, 194, 0.805);
    padding: 8px 10px ;
}

.nav__ul li:hover{
background-color: black;
color: white;
/* border: 2px solid rgb(238, 226, 226); */

/* padding: 2px 5px ; */

}
.liner{
    width: 100%;
    border:1px solid rgba(207, 194, 194, 0.805);

}
/* =========nav bar styling  end=============  */
/* ========= main content styling  start=============  */
.main__content{
    width: 90%;
    margin: 50px auto;
    height: 135vh;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main__div{
    padding-left: 35%;
    padding-top: 28%;

}
.main__div button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
}
.main__div button:hover{
    color: black;
    background-color: wheat;
}

/* ========= main content styling  end=============  */
/* ========= have idea for a book styling  start=============  */
.idea__for__book{
    background-image: url('images/img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
}
.idea__h1{
    padding-left:450px;
    padding-top: 60px;
    font-size: 28px;
    text-transform: capitalize;
}
.idea__content{
    display: flex;
    justify-content: space-evenly;
}
.idea__content__one{
    width: 26%;
    font-size: 22px;
    margin-top: 4%;
}
.idea__content__one p {
    margin: 6px 0px ;
    line-height: 38px;
    color: white;
}
.idea__content__two{
    margin-top: 2%;

}
/* ========= have idea for a book styling  end=============  */
/* ========= top srticle  styling  start=============  */
.top__article{
    width: 100%;

}
.artile__div__one{
    display: flex;
    margin-top: 6%;
    justify-content: space-evenly   ;
}
.artile__div__one div{
    width: 40%;

}
.artile__div__one div h1{
    width: 85%;
    margin: 12px 0px;
    
}
.artile__div__one div p{
    width: 85%;
}
.artile__div__two{
    display: flex;
    margin-top: 6%;
    justify-content: space-evenly   ;
}
.artile__div__two div{
    width: 40%;

}
.artile__div__two div h1{
    width: 85%;
    margin: 12px 0px;
    
}
.artile__div__two div p{
    width: 85%;
}.article__img{
    width: 202px ;
    /* align-items: center; */
    margin-left: 80px;
    height: 30vh;
}
/* ========= top srticle  styling  end=============  */